<% if (taskPreviews.length > 0) { %>
<section>
    <header>
        <h2>Partners</h2>
    </header>
    <div class="row mt-4">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mb-4">
            <img src="/assets/images/mfa.svg" style="width: 60%">
            <!--
            <p class="lead"><strong>The Ministry of Magic</strong></p>
            <p>Who know what we <i>put</i> Novichok <i>in</i>?</p>
            -->
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mb-4">
            <a href="https://rt-solar.ru" target="_blank" rel="noopener">
                <img src="/assets/images/rtkm-solar.svg" style="width: 75%">
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mb-4">
            <a href="https://real.hsectf.ru/en" target="_blank" rel="noopener">
                <img src="/assets/images/hse.png" style="width: 70%">
            </a>
        </div>

        <!--
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mb-4">
            <img src="/assets/images/rooster.png">
            <p class="lead"><strong>Rooster #2</strong></p>
            <p>cock-a-doodle-doo</p>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mb-4">
            <img src="/assets/images/rooster.png">
            <p class="lead"><strong>Rooster #3</strong></p>
            <p>cock-a-doodle-doo</p>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mb-4">
            <img src="/assets/images/rooster.png">
            <p class="lead"><strong>Rooster #4</strong></p>
            <p>cock-a-doodle-doo</p>
        </div>
        -->
    </div>
</section>
<% } %>
